.banner {
  background-color: "#bd34eb";
  flex: 1;
}

.body {
  flex: 10;
  flex-direction: column;
  justify-items: center;
}

.footer {
  background-color: "green";
  flex: 1,
}

.col {
  background-color: "gold";
  align-items: "center";
  justify-items: center;
  flex: 1;
}